mixin breadcrumbs()
  if path && path.length > 1
    .breadcrumbs
      - let currentPath = ''
      each crumb, index in path
        - currentPath += "/" + crumb.path
        if index === path.length - 1
          span.current= crumb.name
        else
          a(href=currentPath)= crumb.name
          |
          | /
          |