mixin cityInfo(city)
  h2.title Pico y placa vigente en #{city.name}
  p.subtitle Las siguientes son las medidas de restricción vehicular vigentes para #{city.name} durante el #{timePeriod}, de acuerdo con lo establecido por la Alcaldía de #{city.name}:
