mixin messages(messages)
  if messages
    for message in messages
      +message(message)(class!=attributes.class)
  else if block
    +message()(class!=attributes.class)
      block

mixin message(message)
  div.message(class!=attributes.class)
    if message
      if message.url
        +externalLink(message.url, `${message.message} ↗️`)
      else
        p= message.message
    else if block
      block