mixin pypQuery(path)
  - letters = ["H", "I", "J", "A", "B", "C", "D", "E", "F", "G"]
  - numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
  - nums = path === '/manizales/transporte-publico-colectivo' ? letters : numbers
  section.query
    h3 ¿Cuándo tengo pico y placa?
    .nums
      each val in nums
        if num == val
          span= val
        else
          span
            a(href=`${path}/${val}`)= val