mixin selectCity(cityName, main=false)
  if citiesMap
    .select
      select#cities(class=main && 'main' required onchange="window.location.href = '/' + this.options[this.selectedIndex].value")
        if !city
          option(value="" disabled selected hidden) Ciudad...
        each city, citySlug in citiesMap
          - const selected = city.name === cityName
          option(value=citySlug selected=selected)= city.name

mixin selectCategory(citySlug, categoryName)
  if citiesMap
    .select
      select#categories(required onchange="window.location.href = '/' + this.options[this.selectedIndex].value")
        if !categoryName
          option(value="" disabled selected hidden) Categoría...
        each category, categorySlug in citiesMap[citySlug].categories
          - const selected = category.name === categoryName
          option(value=`${citySlug}/${categorySlug}` selected=selected)= category.name