.cta {
  text-align: center;
  padding: 1.5em;
  font-size: 1em;
  background-color: $info;
  color: $text-invert;
  a {
    color: $text-invert;
    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
