.lapse {
  color: $text-invert;
  padding: 0 0.25em;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 0.25em;
}
.hours {
  &.small {
    font-size: 0.85rem;
  }
}

.hour-warning {
  &::before {
    content: '⚠️';
    display: inline-block;
  }
  .lapse {
    background-color: $success;
  }
}

.hours-interactive {
  .hour {
    padding-top: 0.5rem;
    margin-left: 1.75em;
  }
  .hour-active {
    color: $dark;
    margin-left: 0;
    &::before {
      width: 1.75em;
      content: '🛑';
      display: inline-block;
    }
    .lapse {
      background-color: $danger;
    }
  }
}

div.hour-category {
  color: $dark;
}
