.plate {
  color: $text-strong;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  font-family: $family-license;
  font-size: 100%;
  padding: 0.45em 0.4em 0.2em 0.4em;
  border: 1.5px solid $text-strong;
  &.public {
    background-color: $white;
    box-shadow: 0 0 0 1.5px $white;
  }

  &.particular {
    background-color: $yellow;
    box-shadow: 0 0 0 1.5px $yellow;
  }
}
