nav {
  display: flex;
  background-color: $light;
  min-height: 3.25em;
  border-bottom: 1px solid $border;
  justify-content: space-between;
  align-items: center;
  .navbar-item {
    color: $text-strong;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    text-align: right;
  }
  .site-name {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}
