.select {
  margin: 0.25em;
  position: relative;
  display: inline-block;
  input {
    border: none;
    border-bottom: 2px solid $text;
    color: $text;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
}
