.select {
  margin: 0.25em;
  position: relative;
  display: inline-block;
  select {
    border-radius: 5px;
    border: 1px solid $border;
    color: $text;
    padding: 0.4rem 3rem 0.4rem 0.5rem;
    appearance: none;
    cursor: pointer;
    @media (max-width: $tablet) {
      padding: 0.4rem 2rem 0.4rem 0.4rem;
    }
    &.main {
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $text;
      font-size: 1.5rem;
    }
    &:invalid {
      color: $text-light;
    }
    &:focus {
      outline: none;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &::after {
    content: '';
    display: inline-block;
    border-top: 10px solid $text;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: calc(50% - 5px);
    position: absolute;
    right: 0.5rem;
    pointer-events: none;
  }
}
