.table {
  width: 100%;
  max-width: 560px;
  padding: 1rem;
  border: 1px solid $border;
  break-inside: avoid-column;
  vertical-align: top;

  td,
  th {
    padding: 0.5em;
    &.numeric {
      text-align: right;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $border;
      &.table-secondary {
        background-color: $light;
        color: $text-light;
      }
      &.active {
        font-size: 1.25em;
        box-shadow: 0px 0px 10px 0px $grey;
        transform: scale(1);
        td:first-child {
          padding-left: 0.75em;
        }
        td:last-child {
          padding-right: 0.75em;
        }
      }
    }
  }

  thead tr {
    border-bottom: 2px solid $border;
  }

  thead.dark {
    tr {
      background-color: $dark;
      color: $light;
      border-bottom: none;
      border: 1px solid $dark;
    }
  }
}
