@import 'modules/minireset';

$body-background-color: $white !default;
$body-size: 16px !default;
$body-rendering: optimizeLegibility !default;
$body-family: $family-primary !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

$hr-background-color: $background !default;
$hr-height: 2px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

html {
  background-color: $body-background-color;
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: $body-family;
}

body {
  color: $body-color;
  font-size: 1rem;
  font-weight: $body-weight;
  line-height: $body-line-height;
}

a {
  text-decoration: none;
  color: $blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;

  a {
    color: $body-color;
  }
}

section {
  margin: 2em 0;
}

dt {
  font-weight: bold;
}

pre {
  background: $grey-lighter;
  border: 1px solid $grey;
  font-size: 90%;
  margin: 1em;
  padding: 1em;
  overflow: auto;
}

.lapse {
  color: $white;
  padding: 0 0.25em;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 0.25em;
}

.hour {
  margin-left: 1em;
}

div.hour-category {
  color: $dark;
}

.hour-active {
  color: $dark;
  &::before {
    margin-right: 0.25em;
  }
  &::before {
    content: '🛑';
    display: inline-block;
  }
  .lapse {
    background-color: $danger;
  }
}

.hour-warning {
  &::before {
    content: '⚠️';
    display: inline-block;
  }
  .lapse {
    background-color: $success;
  }
}
