.header {
  .title {
    margin-bottom: 0.25em;
  }

  .subtitle {
    font-size: 1.25em;
    margin-bottom: 0;
  }

  text-align: center;
  margin: 1em auto;

  @media (min-width: $tablet) {
    font-size: 1.25em;
  }
}

.city-grid {
  margin-bottom: 2em;

  .container {
    margin: unset;
    text-align: left;
  }

  .table {
    margin: 0 auto 1em auto;
  }
}

.container {
  margin: 1em auto auto auto;
  padding: 0 1em;
  max-width: 960px;
  display: block;
}

.info-container {
  margin: 1.5em auto;
  padding: 0 1em;
  max-width: 960px;

  .subtitle {
    margin: 1em 0;
  }

  dt {
    margin-top: 0.25em;
  }
}

.cta {
  margin: auto;
  padding: 1.5em;
  font-size: 1em;
  background-color: $info;
  color: $white;

  a {
    color: $white;
    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.info {
  margin-bottom: 1em;
}

.query {
  font-size: 1.25em;
  margin: auto;
  padding: 0 1.5em 1.5em 1.5em;
  text-align: center;

  .nums {
    max-width: 520px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  background-color: $dark;
  color: $grey-light;

  a {
    color: $grey-light;
    text-transform: uppercase;
  }

  text-align: center;
  padding: 2em;
}
