$assets-path: 'https://pyphoy.s3.amazonaws.com/assets';

// Colors

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(39, 100%, 49%) !default;
$yellow: hsl(45, 100%, 51%) !default;
$green: #03cf0d !default;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(204, 86%, 53%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: #ff2b2b !default;

// Typography

$family-primary: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;
$family-monospace: monospace !default;
$family-license: 'LicensePlate' !default;

// Responsiveness

$tablet: 769px !default;
$desktop: 960px !default;

// Derived colors

$primary: $turquoise !default;

$info: $cyan !default;
$success: $green !default;
$warning: $orange !default;
$danger: $red !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

// General colors

$background: $white !default;
$border: $grey-lighter !default;
$border-hover: $grey-light !default;

// Text colors

$text: $grey-dark !default;
$text-invert: findColorInvert($text) !default;
$text-light: $grey-light !default;
$text-strong: $grey-darker !default;

// Link colors

$link: $blue !default;
$link-visited: $purple !default;

$link-hover: $grey-darker !default;
$link-hover-border: $grey-light !default;

$link-focus: $grey-darker !default;
$link-focus-border: $blue !default;

$link-active: $grey-darker !default;
$link-active-border: $grey-dark !default;
