// advertising 4HHY6VE4_Bs8xJJIMII2VbeQUG957dAVYvlAmiIx3u9WGRuxfv783CIg_vy0joujZC0R-I86Od9qNsHNSyn8hA==
script(data-cfasync="false" id="clevernt" type="text/javascript").
  (function (document, window) {
    var c = document.createElement("script");
    c.type = "text/javascript"; c.async = !0; c.id = "CleverNTLoader45909";  c.setAttribute("data-target",window.name); c.setAttribute("data-callback","put-your-callback-macro-here");
    c.src = "//clevernt.com/scripts/dc9de51f5aac01a782a21e6f91da7254.min.js?20200908=" + Math.floor((new Date).getTime());
    var a = !1;
    try {
        a = parent.document.getElementsByTagName("script")[0] || document.getElementsByTagName("script")[0];
    } catch (e) {
        a = !1;
    }
    a || ( a = document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]);
    a.parentNode.insertBefore(c, a);
  })(document, window);
// end advertising