- const d = new Date(ISODate)
- const date = helpers.format(d, 'dddd, D [de] MMMM [de] YYYY')
- const semester = d.getMonth() <= 5 ? 'primer' : 'segundo'
- const timePeriod = `${semester} semestre del ${d.getFullYear()}`