footer.footer
  .container
    p
      +email()
  .container
    p
      a(href='/') Pico y Placa Hoy
    p= d.getFullYear()

if site.env === "production" && !archive && !home
  script
    include ../../../assets/js/hours.js
else if !archive && !home
  script
    include ../../scripts/hours.js
  
