footer
  section
    p
      +email()
  section
    p
      a(href='/') Pico y Placa Hoy
    p= d.getFullYear()
if site.env === "production"
  script
    include ../../../assets/js/selector.js
  if !archive && !home
    script
      include ../../../assets/js/hours.js
else
  script
    include ../../scripts/selector.js
  if !archive && !home
    script
      include ../../scripts/hours.js
  
