footer.footer
  .container
    p
      +email()
  .container
    p
      a(href='/') Pico y Placa Hoy
    p= d.getFullYear()
script
  if site.env === "production"
    include ./js/min/hours.js
  else
    include ./js/hours.js
  
