extends layouts/layout

block variables
  - const cityName = pypData.name
  - const pageTitle = `${site.name} en ${cityName}`

block pypData
  section.container
      +cityTable(pypData)

block pypInfo
  section.info-container
    +cityInfo(pypData)
    +categoryList(pypData)
