extends layouts/layout

block pypData
  .container
    h2.text-center= error.status
    h1.text-center= message
    if error.stack
      pre
        code= error.stack
  section.hero
    .container.text-center
      +selectCity('', true)
