extends layouts/layout

block pypData
  main
    div.m-1
      span.badge(class=status ? 'stop' : 'go')= num
    if status
      p.lead Tiene pico y placa
      .info
        +hours(categoryData.data[0].hours, ["list-style-none"], status)
    else
      p.lead No tiene pico y placa

    section
      if nextPyp.length
        p
          | Prográmese
          |
          +licensePlate(num, helpers.isPublic(categoryData.name))
          |
          | tiene pico y placa los días
        ul.next-days
          each date in nextPyp
            li
              a(href=`/${categoryData.path}?d=${helpers.localISOString(date.date)}`)= helpers.fullDateString(new Date(date.date))
      else
        div No tiene pico y placa en los próximos 30 días

block pypQuery
  +pypQuery(`/${categoryData.path}`)

block pypInfo
  section.info-container
    +categoryInfo(pypData, false)

