.table {
  width: 100%;
  max-width: 560px;
  margin: 0 auto 1em auto;
  border: 1px solid $grey-lighter;
  break-inside: avoid-column;
  vertical-align: top;

  caption {
    border: 1px solid $dark;
    background-color: $dark;
    padding: 0.25em;
    font-size: 1.25em;
    color: $light;

    a {
      color: $light;
      text-decoration: none;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $grey-lighter;
      &.table-secondary {
        background-color: $white-ter;
        color: $grey-light;
      }
      &.active {
        font-size: 1.25em;
        box-shadow: 0px 0px 10px 0px $grey;
        transform: scale(1);
        td:first-child {
          padding-left: 0.75em;
          &::before {
            content: "▶";
            font-weight: bold;
            color: $danger;
            font-size: 90%;
            margin-right: 0.25em;
          }
        }
        td:last-child {
          padding-right: 0.75em;
        }
      }
    }
  }

  td,
  th {
    padding: 0.5em;
  }

  thead tr {
    border-bottom: 2px solid $grey-lighter;
  }

  thead.dark {
    tr {
      background-color: $dark;
      color: $light;
      border-bottom: none;
      border: 1px solid $dark;
    }
  }
}
