.title {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
}

h1.title {
  font-size: 2em;
}

h2.title {
  font-size: 1.5em;
}

h3.title {
  margin: 1em 0 0.5em 0;
  font-size: 1.25em;
}

.subtitle {
  color: $grey;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    font-size: 1.25em;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.small {
  color: $grey-light;
  font-size: 85%;
}

.lead {
  font-weight: bold;
  font-size: 1.25em;
}
.uppercase {
  text-transform: uppercase;
}

.hyperlink {
  color: $link;
}
