.licensePlate {
  --license-background-color: #F7C000;
  --license-color: black;
  background-color: var(--license-background-color);
  box-shadow: 0 0 0 1.5px var(--license-background-color);
  color: var(--license-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: .25em;
  font-family: LicensePlate, monospace, sans-serif;
  padding: 0.25em;
  margin: 1.5px;
  border: 1.5px solid var(--license-color);
  text-transform: uppercase;
  font-weight: bold;
}

.small {
  font-size: 0.75em;
}

.medium {
  font-size: 1em;
}

.large {
  font-size: 1.5em;
}

.public {
  --license-background-color: white;
}
